data_dir = "/var/lib/vector"

sources:
    nginx_file:
        type: file
        include:
            - /var/log/nginx/access.json.log
        start_at_beginning: false

sinks:
    nginx_output_vector:
        type: vector"
        inputs:
            - nginx_file
        address: 172.26.10.108:9876